.about__wrapper {
    display: inline-block;
}

.about__title {
    margin-bottom: 40px;
}

.about__image {
    float: left;
    margin-right: 80px;
}

.about__text {
    margin-bottom: 44px;
    max-width: 500px;
    display: inline-block;
}

.about__description {
    white-space: pre-line;
}

.about__description:not(:last-child) {
    margin-bottom: 28px;
    white-space: pre-line;
}

.quote {
    display: flow-root;
    max-width: 500px;
    position: relative;
    margin: 0;
    padding: 0 0 0 31px;
}

.quote__text {
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    margin-bottom: 40px;
    white-space: pre-line;
}

.quote__text::before {
    content: "“";
    font-weight: 900;
    color: var(--dark-fuchsia, #6c0287);
    position: absolute;
    left: 0;
    top: -8px;
}

.quote__text::after {
    content: " ”";
    font-weight: 900;
    color: var(--dark-fuchsia, #6c0287);
}

.quote__cite {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-transform: none;
    white-space: pre-line;
    display: inline-block;
    max-width: 280px;
}

.quote__subtitle {
    float: right;
}

.quote__img {
    width: 80px;
    height: 80px;
    border-radius: 45px;
    vertical-align: bottom;
    margin-right: 30px;
}