.banner {
    /* padding: 146px 0 50px 0;  */
    padding: 25px 0 50px 0;
}

.banner__wrapper {
    min-height: 823px;
    position: relative;
}

.banner__subtitle {
    font-weight: 400;
    font-size: 28px;
    line-height: 50px;
    padding-left: 100px;
    margin-bottom: 30px;
}

.banner__title {
    font-size: 150px;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.1em;
    text-align: left;
    margin-bottom: 0;
    position: relative;
}

.banner__title::before {
    content: "";
    background: url("../image/banner/vr.png");
    width: 675px;
    height: 762px;
    position: absolute;
    display: block;
    top: 61px;
    left: 505px;
}

.banner__row {
    display: flex;
    max-height: 209px;
    gap: 40px;
    margin-bottom: 150px;
    align-items: flex-end;
}

.banner__column {
    display: flex;
    flex-direction: column;
    text-align: center;
    white-space: pre-line;
    margin-right: 40px;
}

.banner__column:last-child {
    margin-right: 0;
}

.banner__number {
    font-weight: 900;
    font-size: 100px;
    line-height: 141px;
    color: var(--fuchsia, #cd06ff);
}

.banner__purple {
    font-weight: 900;
    font-size: 75px;
    line-height: 106px;
    font-variant: small-caps;
    color: var(--fuchsia, #cd06ff);
}

.banner__text {
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: var(--white);
}

.banner__button {
    padding: 25px 69px;
    border: 0;
    border-radius: 10px;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--white);
    position: relative;
    background: var(--dark-fuchsia, #6c0287);
    transition: background 0.3s ease-in;
}

.banner__button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: var(--dark-fuchsia, #6c0287);;
    filter: blur(10px);
    border-radius: 10px;
}

.banner__button:hover, .banner__button:focus {
    background: #840AA3;
    border-radius: 10px;
}

.banner__button:active {
    background: var(--purple, #640aa3);
    border-radius: 10px;
}

.banner__arrow {
    position: absolute;
    right: 544px;
    bottom: 90px;
    background-image: url("../image/banner/down.svg");
    background-repeat: no-repeat;
    width: 97px;
    height: 97px; 
    outline: 1px solid transparent;
    transition: background 0.3s ease-in;
}

.banner__arrow:hover {
    background-image: url("../image/banner/down-hover.svg");
}

.banner__arrow:focus {
    background-image: url("../image/banner/down.svg");
    outline-color: var(--fuchsia, #cd06ff);
}

.banner__arrow:active {
    background-image: url("../image/banner/down-active.svg");
}