.booking {
    background: #440F51;
}

.booking__title {
    margin-bottom: 50px;
}

.booking__row {
    display: flex;
    border: 0;
    padding: 0;
}

.booking__legend {
    text-align: center;
    margin-bottom: 40px;
}

.choice {
    justify-content: space-between;
    flex-basis: 250px;
    margin-bottom: 60px;
}

.entertainment {
    padding-left: 40px;
    justify-content: center;
    gap: 100px;
    margin-bottom: 60px;
}

.legend {
    margin-bottom: 23px;
    white-space: nowrap;
}

.data {
    margin-bottom: 40px;
    gap: 50px;
    justify-content: center;
}

.booking__equipment {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    flex: 0 0 280px;
    border: 0;
    gap: 20px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.booking__column {
    border: 0;
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
    gap: 36px;
}

.booking__column--first {
    padding-top: 22px;
}

.booking__hall {
    width: 50px;
    height: 50px;
    min-width: 250px;
	padding: 7px 15px 8px;
	line-height: 34px;
	background: #FFFFFF;
    border-radius: 8px;
    outline: 3px solid transparent;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.booking__hall:hover {
    background: #EADEED;
    outline: 3px solid #640AA3;
}

.booking__hall:focus {
    background: #FFFFFF;
    outline: 3px solid #640AA3;
}

.hall-input:checked + .booking__hall {
    background: #6C0287;
    color: #ffffff;
    outline: 3px solid #FFFFFF;
}

/* .booking__hall:active {
    background: #6C0287;
    color: #ffffff;
    outline: 3px solid #FFFFFF;
} */

/* .radio {
    position: relative;
    display: block;
    font-size: 22px;
    line-height: 25px;
    padding-left: 12px;
}

.radio__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: -40px;
}

.radio__input:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #ffffff;
}

.radio__input:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 10px;
    height: 5px;
    border: 3px solid black;
    border-top: none;
    border-right: none;
    opacity: 0;
    transform: rotate(-45deg);
}

.radio__input:focus-visible {
    outline: none;
}

.radio__input:checked:after {
    opacity: 1;
} */

.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.checkbox__input {
    position: absolute;
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    /* margin-left: -40px; */
    width: 20px;
    height: 20px;
    margin: 2.5px 15px 2.5px 2.5px;
    margin-left: -37px;
}

.checkbox__input:before {
    content: '';
    position: absolute;
    inset: -2.5px;
    display: block;
    width: 25px;
    height: 25px; 
    background-color: #ffffff;
    outline: 1px solid transparent;
}

.checkbox__input:after {
    content: '';
    position: absolute;
    inset: 7px 4px;
    border: 3px solid black;
    border-top: none;
    border-right: none;
    opacity: 0;
    transform: rotate(-45deg);
}

.checkbox__input:focus-visible {
    outline: none;
}

.checkbox__input:checked:after {
    opacity: 1;
}

.checkbox__input:focus::before {
    outline-color: #CD06FF;
}

.checkbox__input--round::before {
    content: '';
    position: absolute;
    inset: -2.5px;
    display: block;
    width: 25px;
    height: 25px; 
    background-color: #ffffff;
    border-radius: 50%;
}

.booking__select {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 22px;
}

/* .booking__date::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 19px;
    transform: translateY(-50%);
    display: block;
    width: 21px;
    height: 15px;
    background: url("../image/booking/arrow.png");
    background-repeat: no-repeat;
} */

.booking__input {
    padding: 12px 5px 12px 5px;
    width: 134px;
	background: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #211E1E;
    border: none;
    outline: 1px solid transparent;
}

.booking__input:focus {
    outline-color: #CD06FF;
}

.booking__input--number {
    min-width: 300px;
    padding: 12px 20px;
}

.booking__button {
    padding: 16px 50px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #6C0287;
    border: 0;
    outline: 3px solid transparent;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 790px;
}

.booking__button:hover {
    background: #EADEED;
    outline: 3px solid #6C0287;
}

.booking__button:active {
    background: #EADEED;
}

.booking__button:focus {
    background: #FFFFFF;
    outline: 3px solid #6C0287;
}

.label {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    border: 0;
    margin-bottom: 6px;
}

.input {
    /* width: 300px;
    height: 52px; */
    /* display: block; */
    border: 0;
    outline: 2px solid transparent;
	padding: 12px 60px 12px 20px;
	background: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #211E1E;
}

.input:focus {
    outline: 2px solid #CD06FF;
}

.input-name {
    /* width: 280px;
    height: 52px;
    display: block; */
    border: 0;
    outline: 2px solid transparent;
	padding: 12px 40px 12px 20px;
	background: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #211E1E;
    outline: 2px solid transparent;
}

.input-name:focus {
    outline-color: #CD06FF;
}
