.booking {
    background: #440F51;
    padding: 80px 0;
}

.booking__title {
    margin-bottom: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 60px;
}

.booking__row {
    border: 0;
    padding: 0;
    width: 100%;
}

.booking__legend {
    text-align: center;
    margin-bottom: 40px;
}

.choise {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entertainment {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.legend {
    margin-bottom: 23px;
    white-space: nowrap;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.data {
    display: flex;
    justify-content: space-evenly;
}

.booking__equipment {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    flex: 0 0 280px;
    border: 0;
    gap: 20px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.booking__column {
    border: 0;
    display: flex;
    flex-direction: column;
    /* flex: 0 0 300px; */
    gap: 36px;
}

.booking__hall {
    flex: 0 1 250px;
    /* min-width: 250px; */
	padding: 7px 15px 8px;
	line-height: 34px;
	background: var(--white, #ffffff);
    border-radius: 8px;
    outline: 3px solid transparent;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    transition: background 0.3s ease-in, outline-color 0.4s ease-in;
    cursor: pointer;
}

.booking__hall:hover {
    background: var(--pale-pink, #eadeed);
    outline: 3px solid var(--purple, #640aa3);
}

.booking__hall:focus {
    background: var(--white, #ffffff);
    outline: 3px solid var(--purple, #640aa3);
}

.hall-input:checked + .booking__hall {
    background: var(--dark-fuchsia, #6c0287);
    color: var(--white, #ffffff);
    outline: 3px solid var(--white, #ffffff);
}

.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 22px;
    line-height: 25px;
    padding-left: 40px;
}

.checkbox__input {
    position: absolute;
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    /* margin-left: -40px; */
    width: 20px;
    height: 20px;
    margin: 2.5px 15px 2.5px 2.5px;
    margin-left: -37px;
    cursor: pointer;
}

.checkbox__input:before {
    content: '';
    position: absolute;
    inset: -2.5px;
    display: block;
    width: 25px;
    height: 25px; 
    background-color: var(--white, #ffffff);
    outline: 1px solid transparent;
}

.checkbox__input:after {
    content: '';
    position: absolute;
    inset: 7px 4px;
    border: 3px solid black;
    border-top: none;
    border-right: none;
    opacity: 0;
    transform: rotate(-45deg);
}

.checkbox__input:focus-visible {
    outline: none;
}

.checkbox__input:checked:after {
    opacity: 1;
}

.checkbox__input:focus::before {
    outline-color: var(--fuchsia, #cd06ff);
}

.checkbox__input--round::before {
    content: '';
    position: absolute;
    inset: -2.5px;
    display: block;
    width: 25px;
    height: 25px; 
    background-color: var(--white, #ffffff);
    border-radius: 50%;
}

.booking__select {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 22px;
}

/* .booking__date::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 19px;
    transform: translateY(-50%);
    display: block;
    width: 21px;
    height: 15px;
    background: url("../image/booking/arrow.png");
    background-repeat: no-repeat;
} */

.booking__column--first {
    padding-top: 22px;
    flex-basis: 300px;
}

.booking__number {
    min-width: 280px;
}

.name {
    flex-basis: 280px;
}

.phone {
    flex-basis: 300px;
}

.booking__input {
    padding: 12px 5px 12px 5px;
    width: 134px;
    /* width: 100%; */
	background: var(--white, #ffffff);
    font-size: 18px;
    line-height: 28px;
    color: #211E1E;
    border: none;
    outline: 1px solid transparent;
}

.input {
    width: 100%;
    border: 0;
    outline: 2px solid transparent;
	padding: 12px 20px;
	background: var(--white, #ffffff);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #211E1E;
}

.booking__input:focus {
    outline-color: var(--fuchsia, #cd06ff);
}

.booking__button {
    padding: 16px 50px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--dark-fuchsia, #6c0287);
    border: 0;
    outline: 3px solid transparent;
    border-radius: 10px;
    transition: background 0.3s ease-in, outline-color 0.4s ease-in;
}

.booking__button:hover {
    background: var(--pale-pink, #eadeed);
    outline-color: var(--dark-fuchsia, #6c0287);
}

.booking__button:active {
    background: var(--pale-pink, #eadeed);
    outline-color: transparent;
}

.booking__button:focus {
    background: var(--white, #ffffff);;
    outline-color: var(--dark-fuchsia, #6c0287);
}

.label {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--white, #ffffff);
    border: 0;
    margin-bottom: 6px;
}

.input:focus {
    outline: 2px solid var(--fuchsia, #cd06ff);
}


@media (max-width: 1150px) {
    .booking {
        padding: 60px 0;
    }

    .booking__title {
        margin-bottom: 25px;
    }
    
    .booking__legend {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 26px;
    }

    .booking__hall {
        flex: 0 1 180px;
        padding: 10px 20px;
        border-radius: 6px;
        font-size: 20px;
        line-height: 24px;
    }
    
    .entertainment {
        justify-content: space-between;
        grid-area: 0;
        gap: 0;
        /* justify-content: center; */
        /* gap: 66px; */
        /* gap: 40px; */
    }

    .data {
        /* max-width: 904px; */
        margin: 0 auto;
        justify-content: space-between;
        /* justify-content: unset; */
    }

    .booking__equipment {
        flex: 0 0 245px;
    }
    
    .input {
        outline: 2px solid transparent;
        padding: 12px 17px 12px 17px;
    }

    .booking__column--first {
        padding-top: 22px;
        flex-basis: 300px;
    }
    
    .name {
        flex-basis: 251px;
    }
    
    .phone {
        flex-basis: 254px;
    }

    .booking__button {
        padding: 13px 45px;
        font-size: 18px;
        line-height: 24px;
        border-radius: 10px;
    }
}

@media (max-width: 930px)  {
    .name {
        flex-basis: 200px;
    }
    
    .phone {
        flex-basis: 200px;
    }

    .booking__button {
        padding: 13px 25px;
        border-radius: 10px;
    }
}

@media (max-width: 820px) {
    .booking {
        padding: 50px 0;
    }

    .booking__title {
        margin-bottom: 40px;
    }

    .form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 50px;
    }
    
    .booking__legend {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 30px;
    }

    .booking__hall {
        flex: 0 1 150px;
        padding: 9px 20px;
        border-radius: 6px;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }
    
    .choice {
        justify-content: space-between;
    }
    
    .entertainment {
        gap: 31px;
        flex-wrap: wrap;
        justify-content: normal;
        /* column-gap: 66px;
        row-gap: 32px; */
    }

    .checkbox {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 22px;
        line-height: 40px;
        padding-left: 50px;
    }
    
    .checkbox__input {
        position: absolute;
        width: 30px;
        height: 30px;
        margin: 2.5px 15px 2.5px 2.5px;
        margin-left: -47px;
    }

    .checkbox__input:before {
        content: '';
        position: absolute;
        inset: -2.5px;
        display: block;
        width: 40px;
        height: 40px; 
        background-color: var(--white, #ffffff);
        outline: 1px solid transparent;
    }

    .checkbox__input:after {
        content: '';
        position: absolute;
        inset: 10px 5px;
        border: 3px solid black;
        border-top: none;
        border-right: none;
        opacity: 0;
        transform: rotate(-45deg);
    }

    .data {
        /* max-width: 688px; */
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: unset;
        gap: 50px;
    }
    
    .booking__column--first {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 50px;
        width: 100%;
        justify-content: center;
        align-items: baseline;
        padding-top: 22px;
    }
    
    .name {
        flex-basis: 280px;
    }
    
    .phone {
        flex-basis: 300px;
    }
    
    .input {
        padding: 12px 20px;
    }

    .booking__select {
        gap: 14px;
        margin-bottom: 0;
    }
}

@media (max-width: 710px) {
    .choise {
        flex-wrap: wrap;
        row-gap: 14px;
    }
    
    .booking__column--first {
        flex-wrap: wrap;
    }

    .phone {
        flex-basis: 280px;
    }

    .data {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .booking {
        padding: 30px 0;
    }

    .booking__title {
        margin-bottom: 13px;
    }

    .form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
    }

    .booking__legend {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
    }

    .booking__hall {
        flex: 0 1 130px;
        padding: 6px 20px;
        border-radius: 4px;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
    }
    
    .choice {
        justify-content: space-between;
        row-gap: 14px;
    }
    
    .entertainment {
        justify-content: normal;
        column-gap: 66px;
        row-gap: 32px;
    }

    .legend {
        font-size: 14px;
        line-height: 18px;
    }

    .checkbox {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 30px;
        padding-left: 50px;
    }
    
    .checkbox__input {
        position: absolute;
        width: 20px;
        height: 20px;
        margin: 2.5px 15px 2.5px 2.5px;
        margin-left: -47px;
    }

    .checkbox__input:before {
        content: '';
        position: absolute;
        inset: -2.5px;
        display: block;
        width: 30px;
        height: 30px; 
        background-color: var(--white, #ffffff);
        outline: 1px solid transparent;
    }

    .checkbox__input:after {
        content: '';
        position: absolute;
        inset: 6px 3px;
        border: 3px solid black;
        border-top: none;
        border-right: none;
        opacity: 0;
        transform: rotate(-45deg);
    }

    .booking__equipment {
        gap: 15px;
        /* flex: 0 0 245px; */
    }
    
    .input {
        padding: 12px 60px 12px 20px;
    }

    .booking__column--first {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
    }

    .data {
        row-gap: 35px;
    }

    .booking__select {
        gap: 14px;
    }
}