.contacts {
    /* padding: 50px 0; */
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts__title {
    margin-bottom: 40px;
}

.contacts__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 156px;
}

.address {
    margin-bottom: 39px;
}

.address__text {
    font-style: normal;
    white-space: pre-line;
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
}

.address__location {
    margin-bottom: 38px;
}

.address__mobile {
    margin-bottom: 11px;
}

.address__image {
    margin-right: 30px;
}

.address__link {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: #ffffff;
    text-decoration: none;
}

.social {
    list-style: none;
    font-size: 0;
}

.social__item {
    display: inline-block;
    margin-right: 26px;
}

.social__item:last-child {
    margin-right: 0;
}

.social__link {
    text-decoration: none;
    display: block;
    color: #ffffff;
    outline: 1px solid transparent;
}

.social__link:hover {
    color: #EADEED;
}

.social__link:focus {
    outline-color: #CD06FF;
    color: #EADEED;
}

.social__link:active {
    color: #CD06FF;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}