.equipment__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 20px;
}

.equipment__title {
    margin-bottom: 40px;
    white-space: pre-line;
}

.equipment__item {
    display: inline-block;
    width: 380px;
    height: 228px;
    padding-top: 166px;
    padding-left: 40px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.equipment__item--vr {
    background-image: url("../image/equipment/vr.jpg");
    background-repeat: no-repeat;
    /* padding: 166px 40px 34px; */
}

.equipment__item--audio {
    background-image: url("../image/equipment/audio.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    /* transform: translateY(70px); */
    position: relative;
    top: 70px;
    left: 0;
    /* padding: 166px 40px 6px; */
}

.equipment__item--micro {
    background-image: url("../image/equipment/micro.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    /* padding: 166px 40px 20px; */
}

.equipment__item--game {
    background-image: url("../image/equipment/game.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    /* padding: 166px 40px 20px; */
}

.equipment__item--netflix {
    background-image: url("../image/equipment/netflix.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 166px 40px 6px;
    /* transform: translateY(70px); */
    position: relative;
    top: 70px;
    left: 0;
}

.equipment__item--sony {
    background-image: url("../image/equipment/sony.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    /* padding: 166px 40px 20px; */
}

.equipment__item:hover {
    transform: scale(1.1); 
}

.equipment__text {
    white-space: pre-line;
}