.halls {
    padding: 50px 0;
}

.halls__item {
    min-width: 580px;
    min-height: 349px;
    text-align: center;
    padding: 135px 0;
    margin: 10px;
}

.halls__item:not(:nth-child(odd)) {
    /* margin-right: 20px; */
    float: left;
}

.halls__item:not(:nth-child(even)) {
    /* margin-right: 20px; */
    float: right;
}

/* .halls__item:first-child {
    margin-bottom: 20px;
} */

.halls__link {
    font-weight: 700;
    font-size: 70px;
    line-height: 114%;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.halls__list {
    display: flow-root;
    margin: -10px;
    list-style: none;
}

.halls__title {
    margin-bottom: 40px;
}

.neon {
    background-image: url("../image/rooms/neon-style.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.starwars {
    background-image: url("../image/rooms/star-wars.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.vibes {
    background-image: url("../image/rooms/80s-vibes.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.wildwest {
    background-image: url("../image/rooms/wild-west.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}