.header {
    padding: 30px 0 25px 0;
    position: relative;
    z-index: 100;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__burger {
    color: var(--dark-fuchsia);
    border: none;
    background-color: transparent;
    display: none;
}

.header__burger:hover {
    color: var(--fuchsia);
}

.header__burger:focus, .header__burger:active {
    color: #840AA3;
}

.header__list {
    display: flex;
    justify-content: space-between;
}

.header__item {
    margin-right: 40px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    text-transform: uppercase;
    background: transparent;
    transition: color 0.3s ease-in;
}

.header__link:hover {
    color: #bc3cd8;
}

.header__link:active {
    color: var(--purple, #640aa3);
}

.header__link:focus {
    color: var(--fuchsia, #cd06ff);
}

.header__button {
    outline: 3px solid var(--fuchsia, #cd06ff);
    border-radius: 10px;
    border: 0;
    padding: 9px 29px 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: none;
    transition: background 0.3s ease-in;
}

.header__button:hover {
    background: var(--dark-fuchsia, #6c0287);;
    outline: 3px solid var(--dark-fuchsia, #6c0287);;
}

.header__button:active {
    background: var(--purple, #640aa3);
    outline: 1px solid #000000;
}

.header__button:focus {
    background: var(--dark-fuchsia, #6c0287);
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(27, 26, 27, 0.7);
    cursor: pointer;
    /* padding: 145px 80px; */
    overflow-y: auto;
    /* z-index: 100; */
    /* display: none; */
}


.button__wrapper {
    display: none;
    min-width: 54px;
}


.header__close {
    background-color: transparent;
    border: 0;
    display: none;
}


.header__button--nav {
    display: none;
}



@media (max-width: 1075px) {
    .header {
        padding: 30px 0 15px 0;
    }
    
    .header__logo {
        width: 87px;
        height: 55px;
    }
    
    .header__item {
        margin-right: 20px;
    }
    
    .header__link {
        font-size: 18px;
        line-height: 22px;
    }
    
    .header__button {
        border-radius: 8px;
        padding: 10px 26px 11px;
        font-size: 18px;
        line-height: 24px;
    }
}


@media (max-width: 900px) {
    .header {
        padding: 32px 0 15px;
    }

    .header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header__logo {
        width: 87px;
        height: 55px;
    }

    .header__burger {
        display: block;
    }

    .header__list {
        flex-direction: column;
        gap: 39px;
        justify-content: center;
        align-items: center;
    }

    .header__menu {
        padding: 60px 0;
        background-color: #1B1A1B;
        display: none;
        /* margin: 0 auto; */
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        /* z-index: 100; */
    }

    .header__item {
        margin-right: 0;
    }

    .button__wrapper {
        display: block;
    }

    .header__link {
        font-weight: 400;
        font-size: 22px;
        line-height: 22px;
    }
}

@media (max-width: 568px) {
    .header__button {
        display: none;
    }

    .header__button--nav {
        display: block;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 20px 10px;
    }

    .header__burger {
        width: 39px;
        height: 20px;
    }

    .header__logo {
        width: 66px;
        height: 42px;
    }

    .header__button {
        font-size: 14px;
        line-height: 22px;
        padding: 11px 23px;
    }

    .header__close {
        width: 30px;
        height: 30px;
    }

    .header__link {
        font-size: 14px;
        line-height: 22px;
    }
}