.question__title {
    margin-bottom: 40px;
}

.question__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    margin-bottom: 20px;
    /* line-height: 46px; */
    list-style: none;  
    cursor: pointer;
}

.acc__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.question__item:nth-of-type(odd) {
    background-color:  var(--white);
    color: #1C1A1A;
}

.question__item:nth-of-type(even) {
    background-color: #440F51;
    color: var(--white);
}

.question__item:last-child {
    margin-bottom: 0;
}

.acc__item {
    display: flex;
    flex-direction: column;
}

.acc__item--even {
    display: flex;
    flex-direction: column;
}

.acc__button {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0;
    }

/* .acc__button:hover {
    
    background-image: url('../image/question/hover.svg'); 
    
} */

.acc__accord {
    display: block;
    background-image: url('../image/question/open-white.svg');
    width: 46px;
    height: 46px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex: none;
    }

.acc__accord--active {
    display: block;
    background-image: url('../image/question/close.svg'); 
    width: 46px;
    height: 46px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex: none;
}

.acc__accord--hover {
    display: block;
    background-image: url('../image/question/hover.svg'); 
    background-size: contain;
    width: 46px;
    height: 46px;
}

.acc__accord:hover {
    display: block;
    background-image: url('../image/question/hover.svg'); 
    width: 46px;
    height: 46px;
    transition: background 0.4s ease-in;
}

.acc__accord:active {
    background-image: url("../image/question/close.svg");
    transition: background 0.4s ease-in;
}


.acc__even {
    display: block;
    background-image: url('../image/question/open-purple.svg');
    width: 46px;
    height: 46px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex: none;
    }

.acc__even--active {
    display: block;
    background-image: url('../image/question/close2.svg'); 
    width: 46px;
    height: 46px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex: none;
}

.acc__even--hover {
    display: block;
    background-image: url('../image/question/open2.svg'); 
    width: 46px;
    height: 46px;
}

.acc__even:hover {
    display: block;
    background-image: url('../image/question/open2.svg'); 
    width: 46px;
    height: 46px;
    transition: background 0.4s ease-in;
}

.acc__even:active {
    background-image: url("../image/question/close2.svg");
    transition: background 0.4s ease-in;
}

.acc__text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* height: 214px; */
    padding: 57px 0 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .question__item:nth-of-type(odd)::after {
    background-image: url("../image/question/open-white.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transition: background 0.4s ease-in;
}

.question__item:nth-of-type(even)::after {
    background-image: url("../image/question/open-purple.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transition: background 0.4s ease-in;
}

.question__item:nth-of-type(odd):hover::after {
    background-image: url("../image/question/hover.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.question__item:nth-of-type(odd):active::after {
    background-image: url("../image/question/close.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.question__item:nth-of-type(even):hover::after {
    background-image: url("../image/question/open2.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.question__item:nth-of-type(even):active::after {
    background-image: url("../image/question/close2.svg");
    background-repeat: no-repeat;
    background-size: contain;
} */


@media (max-width: 1024px) {
    .question__title {
        margin-bottom: 26px;
    }
    
    .question__item {
        padding: 11.5px 25px;
        margin-bottom: 16px;
        line-height: 46px;  
    }

    .question__item:last-child {
        display: none;
    }

    .question__item:nth-child(4){
        margin-bottom: 0;
    }

    .question__item:nth-of-type(odd) {
        background-color:  var(--white);
        color: #1C1A1A;
    }
    
    .question__item:nth-of-type(even) {
        background-color:  var(--white);
        color: #1C1A1A;
    }

    .acc__title {
        font-size: 20px;
        line-height: 24px;
    }

    .acc__even {
        background-image: url("../image/question/open-white.svg");
    }

    .acc__even:hover {
        background-image: url("../image/question/hover.svg");
    }

    .acc__even:active {
        background-image: url("../image/question/close.svg");
    }

    .acc__even--active {
        background-image: url("../image/question/close.svg");
    }
    
    /* .question__item:nth-of-type(odd)::after {
        background-image: url("../image/question/open-white.svg");
        background-repeat: no-repeat;
        transition: background 0.4s ease-in;
    }
    
    .question__item:nth-of-type(even)::after {
        background-image: url("../image/question/open-white.svg");
        background-repeat: no-repeat;
        transition: background 0.4s ease-in;
    }
    
    .question__item:nth-of-type(odd):hover::after {
        background-image: url("../image/question/hover.svg");
        background-repeat: no-repeat;
    }
    
    .question__item:nth-of-type(odd):active::after {
        background-image: url("../image/question/close.svg");
        background-repeat: no-repeat;
    }
    
    .question__item:nth-of-type(even):hover::after {
        background-image: url("../image/question/hover.svg");
        background-repeat: no-repeat;
    }
    
    .question__item:nth-of-type(even):active::after {
        background-image: url("../image/question/close.svg");
        background-repeat: no-repeat;
    } */
}


@media (max-width: 768px) {
    .question__title {
        margin-bottom: 30px;
    }
    
    .question__item {
        padding: 12px 54px;
        margin-bottom: 16px;
    }

    .acc__title {
        font-size: 18px;
        line-height: 24px;
    }

    .acc__text {
        font-size: 16px;
        line-height: 20px;
        padding: 30px 0 40px 0;
    }    
}

@media (max-width: 480px) {
    .question__title {
        margin-bottom: 15px;
    }
    
    .question__item {
        padding: 7px 12px;
        margin-bottom: 10px; 
    }

    .acc__accord {
        width: 30px;
        height: 30px;
    }

    .acc__title {
        font-size: 12px;
        line-height: 16px;
    }

    .acc__even {
        width: 30px;
        height: 30px;
    }

    .acc__accord--active {
        width: 30px;
        height: 30px;
    }

    .acc__even--active {
        width: 30px;
        height: 30px;
    }

    .acc__even:hover {
        width: 30px;
        height: 30px;
    }

    .acc__even:active {
        width: 30px;
        height: 30px;
    }

    .acc__even--active {
        width: 30px;
        height: 30px;
    }


    .acc__accord {
        width: 30px;
        height: 30px;
    }
    
    .acc__accord--active {
        width: 30px;
        height: 30px;
    }
    
    .acc__accord--hover {
        width: 30px;
        height: 30px;
    }
    
    .acc__accord:hover {
        width: 30px;
        height: 30px;
    }
    
    .acc__accord:active {
        width: 30px;
        height: 30px;
    }

    .acc__text {
        font-size: 12px;
        line-height: 16px;
        padding: 10px 0 20px 0;
    }    
}